.container {
    display: flex;
    padding: 30px;
  }

  .content{
    display: inline-block;
    width: 400px;
    margin: 20px;
  }

  .content img {
    width: 300px;
    height: 300px;
  }

  .about {
    width: 700px;
  }

  .border {
    width: auto;
    display: inline-block;
    height: 230px;
    margin: 9px;
    border: 1px solid grey;
    padding: 20px;
  }
  p{
    color: gray;
  }

  .container .border img {
    width: 50px;
    size: 50px;
  }

  .content .about-img {
    position: relative;
    left: 100px;
  }

  .about-box {
    width: 30%;
    display: inline-block;
    height: 250px;
    display: flex;
    justify-self: center;
  }


  .center {
    display: flex;
    justify-content: center;
  }
  li{
    color: gray;
  }

  #heading {
    color: rgb(133, 133, 133);
    font-size: 40px;
    font-weight: 800;
  }

  .text{
      margin: 0px 0px -10px 80px;
  }

